.login-class{
    padding: 20px 30px;
    border-radius: 10px;
    /* background-color: var(--nav-bg); */
    background-color: var(--login-bg);
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
    text-align: left;
    width: auto;
    /* margin: auto; */
}
.login-class form span{
    color: red;
}
.login-class form p{
    margin: 10px 0px;
    text-align: center;
}
.login-class form h1{
    margin: 0;
    text-align: center;
}
.login-class-Reg-button{
    border: none;
    padding: 0px 3px;
    margin-left: 3px;
    background-color: var(--nav-btn-bg);
    color: var(--text-color);      
    cursor: pointer;
}