.navbar{
    background-color: var(--nav-bg);
    color: var(--nav-text);
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    /* border-bottom: 1px solid var(--text-color); */
}

.nav-logo{
    margin: 0 0 0 1rem;
    /* margin: 0; */
    cursor: pointer;
}

.nav-menu{
    height: 2rem;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    gap: 0.5rem;
}

.nav-theme-toggle-btn{
    background-color: var(--nav-btn-bg);
    color: var(--text-color);
    border: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-theme-toggle-btn svg{
    font-size: 1.5rem;
}


.nav-profile-Icon{
    /* height: 2rem; */
    /* width: 2rem; */
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.logout-btn{
    background-color: red;
}

.nav-filter-Icon{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--nav-btn-bg);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.nav-filter-Icon svg{
    font-size: 1rem;
}