body{
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* light theme */
body.light {
    --background-color: white;
    --text-color: black;
    --primary-color: blue;
    --button-bg: rgb(57, 10, 247);
    --button-text: black;
    --text-para: rgb(61, 61, 61);
    --date-text: rgb(128, 127, 127);


    /* navbar */
    --nav-bg: rgb(215, 215, 215);
    --nav-text: black;
    --nav-btn-bg: white;
    --nav-new-bg: rgb(0, 0, 179);

    /* login */
    --login-bg: rgb(180, 180, 180);


    /* feed */
    --feed-bg: rgb(240, 240, 240);
    --feed-blog-bg: white;

    /* loader */
    --loader-bg: rgba(255, 255, 255, 0.8);

    /* landing */
    --landding-hero-bg: linear-gradient(135deg, #ffffff 0%, #e0f0ff 40%, #007BFF 100%);
    --landing-hero-h1: linear-gradient(90deg, #003366, #0055ff);
    --landing-hero-h2:  #333333;
    --landing-hero-h2-shadow: rgba(255, 255, 255, 0.6);
}

/* dark theme */
body.dark {
    --background-color: rgb(26, 25, 25);
    --text-color: white;
    --primary-color: cyan;
    --button-bg: rgb(45, 11, 238);
    --button-text: white;
    --text-para: rgb(231, 231, 231);
    --date-text: rgb(183, 183, 183);

    /* navbar */
    --nav-bg: rgb(0, 0, 0);
    --nav-text: white;
    --nav-btn-bg: rgb(68, 68, 68);
    --nav-new-bg: black;

    /* login */
    --login-bg: rgb(17 16 16);

    /* feed */
    --feed-bg: rgb(26, 25, 25);
    --feed-blog-bg: black;


    /* loader */
    --loader-bg: rgba(0, 0, 0, 0.847);

    /* landing */
    --landding-hero-bg: linear-gradient(135deg, #0d1117 0%, #1f2a48 40%, #007BFF 100%);
    --landing-hero-h1: linear-gradient(90deg, #66aaff, #ffffff);
    --landing-hero-h2:  #cbd8f0;
    --landing-hero-h2-shadow: rgba(0, 0, 0, 0.5);
}